.title-widget-s1{
	position: relative;
	text-transform:uppercase;
    font-size: 16px;
    line-height: 20px;
}

.title-widget-s1:before {
    content: '';
    display: inline-block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.title-widget-s1:after {
	content: '';
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-top-style: solid;
    border-top-width: 10px;
    border-right: 10px solid transparent;
}